.quick-example {
  padding: 1rem;
  background: #F0F0F0;
  border-radius: 0.5rem;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.quick-example div {
  overflow: hidden;
}

.quick-example:hover {
  grid-template-rows: 1fr;
}
