@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans";
  src: local("General Sans"),
    url("./fonts/GeneralSans-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "General Sans";
  src: local("General Sans"),
    url("./fonts/GeneralSans-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "General Sans";
  src: local("General Sans"),
    url("./fonts/GeneralSans-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "General Sans";
  src: local("General Sans"),
    url("./fonts/GeneralSans-Regular.otf") format("opentype");
  font-weight: normal;
}

:root {
  background-color: #E8E8E8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-grid {
  /* spacing variables */
  --padding-inline: 1rem;
  --content-max-width: 1244px;
  --breakout-max-width: 1320px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr) 
    
    [breakout-start] 
    minmax(0, var(--breakout-size))
 

    [content-start] 
    min(100% - (var(--padding-inline) * 2), var(--content-max-width)) /* choosing which is smaller */
    [content-end]

    minmax(0, var(--breakout-size)) 
    [breakout-end]

    minmax(var(--padding-inline), 1fr) 
    [full-width-end]
  ;
  /* grid-template-rows: 100px 1fr 200px; */
}

.content-grid > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}