@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {

}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: black;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 15px;
}

.btn-primary {
  background-color: white;
}

.btn-secondary {
  background: #ff6a95;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
} 

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
} 

